div#container {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
div#homepage {
    height: 100%;
    background-image: url(../img/homebackground.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
