div#container {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
div#homepage {
    height: 100%;
    background-image: url(../img/homebackground.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h1#hmh1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-top: 1%;
    margin-left: 2%;
    color: #8c53c6;
}
